@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .chip {
    @apply hover:bg-white hover:text-indigo-700 px-2 py-1 rounded-full bg-neutral-800 cursor-default transition-all hover:-translate-y-1 duration-200;
  }
}

* {
  cursor: none;
}

body {
  overscroll-behavior: none;
}

body {
  background: rgb(17, 17, 17);
}

:root {
  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);
  --var-white: rgba(255, 255, 255, 1);
  --var-black: rgba(0, 0, 0, 1);
  --var-grey: rgba(140, 140, 140, 1);
  --var-red: rgba(255, 0, 0, 1);
  --var-green: rgb(77, 211, 14);
  --var-blue: rgba(0, 0, 255, 1);
  --text: rgb(235, 236, 243);
  --brand: #4338ca;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  margin: auto;
  padding-top: 2rem;
  overflow: hidden;
}

@keyframes pulse-slow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}

@keyframes clip {
  100% {
    clip-path: polygon(0% 0%, 50% 0%, 60% 100%, 10% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 50% 0%, 60% 100%, 10% 100%);
  }
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
